<div class="position-relative bg-warning" style="padding-top: 15rem">
  <h1 class="fw-bold fs-2 fs-md-1 w-100 position-absolute text-center top-50 start-50 top-md-40 translate-middle"><%= t('property.property_search_title') %></h1>
  <%= image_tag 'background.png', class: 'img-fluid opacity-50 w-100 vh-md-40' %>
  <div class="card position-absolute top-90 top-md-80 rounded-4 vw-90 vw-md-50 start-50 translate-middle border-0 shadow-lg p-3 mb-5 rounded w-auto" >
    <%= render 'property_lists/property_search_form' %>
  </div>
</div>
