<main>
  <%= render 'layouts/navbar' %>
    <section class="container-fluid vh-auto p-0 m-0" style="padding-top: 15rem">
      <%= render 'property_header' %>
      <div class="container">
        <div class="row">
          <% @properties.each do |property| %>
            <div class="col-md-4">
              <%= render 'property_lists/property_card', property: property %>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  <%= render 'layouts/footer' %>
</main>
