<section class="container-fluid bg-white p-4">
  <div class="container">
    <h2 class="fw-bold my-4"><%= t('home.newest_property') %></h2>
    <div class="row">
      <% properties.each do |property| %>
        <div class="col-md-4">
          <%= render 'property_lists/property_card', property: property %>
        </div>
      <% end %>
    </div>
  </div>
</section>
