<section class="container-fluid bg-dark m-0 p-0">
  <header class="fw-bold bg-warning text-dark text-center py-4">
    <h2 class="mb-0 fw-bold"><%= t('home.our_social_media') %></h2>
  </header>
  <div class="row text-center g-0 border-bottom border-1">
    <div class="col-md-4">
      <div class="card border-0 rounded-0 text-white opacity-50" id="instagram" style="background-color: #833AB4;">
        <div class="card-body">
          <%= image_tag 'instagram_icon.png', width: 120 %>
          <h4 class="fw-bold ">Instagram</h4>
          <a href="#" class="stretched-link fs-5 text-decoration-none text-white">@PropertyList</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-0 rounded-0 opacity-50" id="twitter">
        <div class="card-body" id="twitter">
          <%= image_tag 'twitter_icon.png', width: 120 %>
          <h4 class="fw-bold ">Twitter</h4>
          <a href="#" class="stretched-link fs-5 text-decoration-none text-white">@PropertyList</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-0 rounded-0 text-white opacity-50" id="facebook" style="background-color: #2AA4F4">
        <div class="card-body">
          <%= image_tag 'facebook_icon.png', width: 120 %>
          <h4 class="fw-bold ">Facebook</h4>
          <a href="#" class="stretched-link fs-5 text-decoration-none text-white">@PropertyList</a>
        </div>
      </div>
    </div>
  </div>
</section>
