<footer class="bg-dark">
  <div class="container">
    <div class="row text-white justify-content-between py-4 g-2">
      <div class="col-md-4">
        <div class="d-grid">
          <%= link_to root_path, class: 'fw-bold mb-4 text-decoration-none text-white fs-2' do %>
            Property<span class="text-warning">List</span>
          <% end %>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est a culpa placeat nulla facilis dolor voluptas! Repudiandae quibusdam laudantium voluptatem.</p>
        </div>
      </div>
      <div class="col-md-2 mx-2">
        <div class="d-grid">
          <h4 class="fw-bold">Category</h4>
          <a href="" class="text-decoration-none text-white my-2">Real Estate For Sale</a>
          <a href="" class="text-decoration-none text-white my-2">Long Term Rentals</a>
          <a href="" class="text-decoration-none text-white my-2">Leasehold</a>
          <a href="" class="text-decoration-none text-white my-2">Freehold</a>
        </div>
      </div>
      <div class="col-md-2 mx-2">
        <div class="d-grid">
          <h4 class="fw-bold">Property Type</h4>
          <a href="" class="text-decoration-none text-white my-2">Villa</a>
          <a href="" class="text-decoration-none text-white my-2">Land</a>
          <a href="" class="text-decoration-none text-white my-2">Other</a>
        </div>
      </div>
      <div class="col-md-2 mx-2">
        <div class="d-grid">
          <h4 class="fw-bold">Company</h4>
          <a href="" class="text-decoration-none text-white my-2">About Us</a>
          <%= link_to 'Contact Us', contact_path, class: 'text-decoration-none text-white my-2' %>
        </div>
      </div>
    </div>
  </div>
</footer>
