<nav class="navbar bg-dark">
  <div class="container-fluid justify-content-end">
    <div class="btn-group">
      <button class="btn btn-outline-warning btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <%= t('top_bar.change_languages') %>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to t('top_bar.indonesia'), root_path(locale: :id), class: 'dropdown-item' %></li>
        <li><%= link_to t('top_bar.english'), root_path(locale: :en), class: 'dropdown-item' %></li>
      </ul>
    </div>
  </div>
</nav>

